<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" >
  <title>Some Website</title>
</head>
<body>
  {{> header}}
  <p>Hello {{name}}. </p>
  <p>This file will provide the necessary instructions. What fun!</p>

  {{> footer}}
</body>

</html>
